<GridLayout rows="auto, auto, *" columns="*" class="background">
  <CardView row="0" elevation="40" radius="40" class="cardview">
    <StackLayout>
      <Label [text]="pageTitle" class="title" textWrap="true" textAlignment="center"></Label>
      <Label [text]="asteroidCount + ' asteroids passing nearby\n (7-days forecast)'" textAlignment="center"
        textWrap="true"></Label>
    </StackLayout>
  </CardView>

  <CardView row="1" elevation="40" radius="40" class="cardview">
    <StackLayout>
      <Label text="Sort by" textWrap="true" marginTop="0" marginLeft="16"></Label>
      <GridLayout columns="*, *, *" width="100%">
        <Label col="0" [text]="isAscending ? 'Prozimity (D)' : 'Prozimity (A)'" (tap)="sortByProximity()"
          class="sort-labels"></Label>
        <Label col="1" [text]="isSizeAscending ? 'Size (D)' : 'Size (A)'" (tap)="sortBySize()"
          class="sort-labels"></Label>
        <Label col="2" text="Danger" (tap)="sortByDanger()" class="sort-labels"></Label>
      </GridLayout>
    </StackLayout>
  </CardView>

  <ListView row="2" [items]="asteroidItems | async" class="list-view" separatorColor="#282a2a">
    <ng-template let-asteroid="item" let-i="index">

      <!-- Optimize and simplify the tempalte to achive max performance!  -->
      <CardView elevation="40" radius="40" class="cardview">
        <GridLayout columns="2*, 5*">

          <GridLayout col="0">
            <StackLayout *ngIf="isAstreroidSmall(asteroid.estimated_diameter.kilometers.estimated_diameter_max)">
              <Label text="Size (m) " opacity="0.8" textWrap="true"></Label>
              <StackLayout orientation="horizontal">
                <Label text="min: " opacity="0.8"></Label>
                <Label [text]="asteroid.estimated_diameter.meters.estimated_diameter_min | number:'1.2-2'"></Label>
              </StackLayout>
              <StackLayout orientation="horizontal">
                <Label text="max: " opacity="0.8"></Label>
                <Label [text]="asteroid.estimated_diameter.meters.estimated_diameter_max | number:'1.2-2'"></Label>
              </StackLayout>
            </StackLayout>

            <StackLayout *ngIf="isAstreroidLarge(asteroid.estimated_diameter.kilometers.estimated_diameter_max)">
              <Label text="Size (km)" opacity="0.8" textWrap="true"></Label>
              <StackLayout orientation="horizontal">
                <Label text="min: " opacity="0.8"></Label>
                <Label [text]="asteroid.estimated_diameter.kilometers.estimated_diameter_min | number:'1.1-1'"></Label>
              </StackLayout>
              <StackLayout orientation="horizontal">
                <Label text="max: " opacity="0.8"></Label>
                <Label [text]="asteroid.estimated_diameter.kilometers.estimated_diameter_max | number:'1.0-1'"></Label>
              </StackLayout>
            </StackLayout>
          </GridLayout>

          <StackLayout col="1" width="100%" textAlignment="center">
            <Label [text]="'VAsteroid Name    : ' + asteroid.name"></Label>
            <Label [text]="'Is it Dangerous?  : ' + (asteroid.is_potentially_hazardous_asteroid ? 'Yes!' : 'Nope')"
              [color]="asteroid.is_potentially_hazardous_asteroid ? 'orangered' : 'lightseagreen'"></Label>
            <Label [text]="'Approach Date     : ' + asteroid.close_approach_data[0].close_approach_date"></Label>
            <Label
              [text]="'Velocity (km/h)   : ' + asteroid.close_approach_data[0].relative_velocity.kilometers_per_hour"></Label>
            <Label [text]="'Miss Distance (km): ' + asteroid.close_approach_data[0].miss_distance.kilometers"></Label>
            <Label [text]="'Orbiting Body     : ' + asteroid.close_approach_data[0].orbiting_body"></Label>
          </StackLayout>

          <DockLayout col="1" verticalAlignment="bottom" horizontalAlignment="right">
            <Button text="&#xf1e0;" class="fa-solid share-label" (tap)="onShare(i)"></Button>
          </DockLayout>
        </GridLayout>
      </CardView>

    </ng-template>
  </ListView>
</GridLayout>