<GridLayout rows="auto, auto,  *" columns="*">
  <Label row="0" text="ASTEROIDS PAGE" class="h2 text-center p-8" textWrap="true"></Label>
  <Label row="1" [text]="asteroidCount + ' nearby asteroids in the next 7 days'" class="h4 text-center p-8" textWrap="true"></Label>

  <ListView row="2" [items]="asteroidItems | async" class="list-view" separatorColor="#343838">
    <ng-template let-asteroid="item" let-i="index">

      <!-- Optimize and simplify the tempalte to achive max performance!  -->
      <CardView elevation="40" radius="40" class="card">

        <GridLayout columns="*, 2*">
          <GridLayout col="0">
            <StackLayout *ngIf="isAstreroidSmall(asteroid.estimated_diameter.kilometers.estimated_diameter_max)">
              <Label text="Size (m) " opacity="0.8" textWrap="true"></Label>
              <StackLayout orientation="horizontal">
                <Label text="min: " opacity="0.8"></Label>
                <Label [text]="asteroid.estimated_diameter.meters.estimated_diameter_min | number:'1.2-2'"></Label>
              </StackLayout>
              <StackLayout orientation="horizontal">
                <Label text="max: " opacity="0.8"></Label>
                <Label [text]="asteroid.estimated_diameter.meters.estimated_diameter_max | number:'1.2-2'"></Label>
              </StackLayout>
            </StackLayout>

            <StackLayout *ngIf="isAstreroidLarge(asteroid.estimated_diameter.kilometers.estimated_diameter_max)">
              <Label text="Size (km)" opacity="0.8" textWrap="true"></Label>
              <StackLayout orientation="horizontal">
                <Label text="min: " opacity="0.8"></Label>
                <Label [text]="asteroid.estimated_diameter.kilometers.estimated_diameter_min | number:'1.1-1'" textAlignment="center"></Label>
              </StackLayout>
              <StackLayout orientation="horizontal">
                <Label text="max: " opacity="0.8"></Label>
                <Label [text]="asteroid.estimated_diameter.kilometers.estimated_diameter_max | number:'1.0-1'" textAlignment="center"></Label>
              </StackLayout>
            </StackLayout>
          </GridLayout>

          <StackLayout col="1">
            <Label [text]="asteroid.name"></Label>
            <Label [text]="asteroid.is_potentially_hazardous_asteroid" [color]="asteroid.is_potentially_hazardous_asteroid ? 'coral' : 'lightseagreen'"></Label>
            <Label [text]="asteroid.close_approach_data[0].close_approach_date"></Label>
            <Label [text]="asteroid.close_approach_data[0].relative_velocity.kilometers_per_hour"></Label>
            <Label [text]="asteroid.close_approach_data[0].miss_distance.kilometers"></Label>
            <Label [text]="asteroid.close_approach_data[0].orbiting_body"></Label>
          </StackLayout>

        </GridLayout>
      </CardView>

    </ng-template>
  </ListView>
</GridLayout>