<GridLayout rows="40" columns="*, *, *, *, *" class="p-t-8 p-b-8">
    <Button col="0" text="&#xf053;" class="fa-solid" (tap)="goToPrevousDay()"></Button>
    <Button col="1" text="&#xf019;" class="fa-solid" (tap)="onSaveFile()"></Button>
    <Button col="2" text="&#xf108;" class="fa-solid" (tap)="onSetWallpaper()"></Button>
    <Button col="3" text="&#xf1e0;" class="fa-solid" (tap)="onShare()"></Button>
    <Button col="4" text="&#xf054;" class="fa-solid" color="white" (tap)="goToNextDay()"></Button>
</GridLayout>

