.DS_Store
.vscode/*
.cloud/*
lib/
node_modules/*
platforms/*
hooks/*
report/*

/app/**/*.js
/app/**/*.map

/keystore/
*.apk
*.ipa
*.jks

native-nick-release-key.jks
my-release-key.jks

google-services.json
GoogleService-Info.plist

webpack.config.js

times.html
startup-times.md

package.lock.json
