# Environment files & folders
.DS_Store
.vscode/*
.cloud/*
lib/

# Development files & folders
node_modules/*
platforms/*
hooks/*
.migration_backup

# Transpiled source files
/app/**/*.js
/app/**/*.map

# Keystores and Build files
*.apk
*.aab
*.ipa
keystore/*
apks/*
aab/*
*.jks
native-nick-release-key.jks
my-release-key.jks

# Google Services config files
google-services.json
GoogleService-Info.plist

# Api Keys, Credentials, etc.
app/settings.json

# Reports and Stats files
report/*
times.html
startup-times.md

# Others
package-lock.json
test-results.xml
e2e/reports
verify-report
e2e/**/*.js
e2e/reports
app/App_Resources/iOS/GoogleService-Info.plist
mochawesome-report