.sideStackLayout {
    background-color: #343838;
}


.cardview {
    background-color: #343838;
}

.cardview Label {
    color: #BCBCBC;
    font-size:14;
}

.titleStackLabel {
    font-family: "Nasalization";
    color: #BCBCBC;
    text-align: center;
}

.sideButton {
    background-color: #3489db;
    font-family: "Nasalization";
    margin: 0 16 0 16;
    padding: 16;
}

.sideContent {
    background-color: #282a2a;
}

/* .sideContentCard {
    background-color: #3489db;
    color: #BCBCBC;
} */