.cardview {
    background-color: #343838;
}

.cardview Label {
    color: #BCBCBC;
    font-size: 14;
}

.action-bar-title {
    color: #BCBCBC;
    font-family: "Nasalization";
    font-size: 18;
    text-align: center;
}

.sidedrawer-content {
    background-color: #282a2a;
}

.sidedrawer-label {
    background-color: #343838;
    border-radius: 20;
    color: #BCBCBC;
    font-family: "Nasalization";
    font-size: 14;
    margin: 8;
    padding: 16;
    text-align: center;
}