.nasa {
    font-family: "Nasalization";
}

.sideStackLayout {
    background-color: #343838;
}

sideTitleStackLayout {
    background-color: black;
}

.sideTitleStackLabel {
    font-family: "Nasalization";
    margin: 0 16 0 16;
    padding: 16;
    text-align:center;
}

.sideButton {
    background-color: #3489db;
    font-family: "Nasalization";
    margin: 0 16 0 16;
    padding: 16;
}

.sideContent {
    font-family: "Nasalization";  
    background-color: #343838;
    color: #BCBCBC;
}

.sideContentCard {
    background-color: #3489db;
    color: #BCBCBC;
}