<!-- Remove the outer GridLayout once https://github.com/NativeScript/nativescript-angular/issues/1203 is resolved! -->
<GridLayout>
    <ListView [items]="latestNews" class="list-view" separatorColor="#343838">
        <ng-template let-news="item" let-i="index">
            <CardView elevation="40" radius="40" class="card">
                <StackLayout>
                    <Label [text]="news.name" class="h3" textWrap="true"></Label>
                    <!-- <Label [text]="news.release.url" class="h4" textAlignment="center"></Label> -->
                    <Image [src]="news.release.thumbnail" stretch="aspectFill"></Image>
                    <StackLayout>
                        <Label [text]="news.release.isExpanded ? 'hide' : 'see the whole story'" (tap)="onExpand(i)" class="h4" opacity="0.7"></Label>
                        <Label [text]="news.release.abstract" [textWrap]="news.release.isExpanded ? true : false"></Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal">
                        <Label [text]="news.release.mission | titlecase" opacity="0.8"></Label>
                        <Label [text]="' ' + news.release.publication" class="h4"></Label>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </ng-template>
    </ListView>
</GridLayout>