<!-- Remove the outer GridLayout once https://github.com/NativeScript/nativescript-angular/issues/1203 is resolved! -->
<ActionBar title="">
    <ActionItem ios.position="right">
        <StackLayout>
            <Label text="COSMOS Databank" class="action-bar-title" textAlignment="center"></Label>
        </StackLayout>
    </ActionItem>
</ActionBar>
<GridLayout>
    <ListView row="3" [items]="latestNews" class="list-view" separatorColor="#343838">
        <ng-template let-news="item" let-i="index">
            <CardView elevation="40" radius="40" class="card" margin="10">
                <StackLayout backgroundColor="whitesmoke">
                    <Label [text]="news.name" class="h3" marginLeft="8" marginRight="8" textWrap="true" textAlignment="center"></Label>
                    <!-- <Label [text]="news.release.url" class="h4" textAlignment="center"></Label> -->
                    <Image [src]="news.release.thumbnail" marginTop="8" stretch="aspectFill"></Image>
                    <StackLayout>
                        <Label [text]="news.release.isExpanded ? 'hide' : 'see the whole story'" (tap)="onExpand(i)" class="h4 m-l-16"></Label>
                        <Label [text]="news.release.abstract" [textWrap]="news.release.isExpanded ? true : false" margin="8"></Label>
                    </StackLayout>
                    <Label [text]="'Published on ' + news.release.publication" class="h4" margin="8"></Label>
                    <Label [text]="news.release.mission + ' mission'" class="h4" textAlignment="center" margin="8"></Label>
                </StackLayout>
            </CardView>
        </ng-template>
    </ListView>
</GridLayout>