<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>61367930050-l0g01ube2po1jm17c5f0rtkaeocai0i9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61367930050-l0g01ube2po1jm17c5f0rtkaeocai0i9</string>
	<key>API_KEY</key>
	<string>AIzaSyBJPJQCvO3W1GevVIaDIPiXXprEbnHNIGc</string>
	<key>GCM_SENDER_ID</key>
	<string>61367930050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.curiosity</string>
	<key>PROJECT_ID</key>
	<string>cosmos-databank</string>
	<key>STORAGE_BUCKET</key>
	<string>cosmos-databank.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61367930050:ios:885811f46753dd67</string>
	<key>DATABASE_URL</key>
	<string>https://cosmos-databank.firebaseio.com</string>
</dict>
</plist>