
<RadSideDrawer>
    <StackLayout tkDrawerContent class="sidedrawer-content">
        <Label text="Home" (tap)="navigateTo('/main', false)" ></Label>
        <Label text="Photo of the Day" (tap)="navigateTo('/apod', false)"></Label>
        <Label text="Asteroids Proximity Checker" (tap)="navigateTo('/asteroids', false)"></Label>
        <Label text="Mars Rovers Photos" (tap)="navigateTo('/rovers', false)"></Label>
        <Label text="Details" (tap)="navigateTo('/info', false)"></Label>
    </StackLayout>

    <GridLayout tkMainContent>
        <!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
        <page-router-outlet></page-router-outlet>
    </GridLayout>

</RadSideDrawer>