.sidedrawer-content {
    background-color: #282a2a;
}

.sidedrawer-content > Label {
    background-color: #343838;
    border-radius: 10;
    font-family: "Nasalization";
    font-size: 14;
    margin: 8;
    padding: 16;
    text-align: center;
}