@import '~nativescript-theme-core/css/core.light.css';

Page {
    background-color: #343838;   
    color: #BCBCBC;
    font-family: "Nasalization"; 
}

ActionBar {
    background-color: #343838;
}

/* this global color style will affect the dialogs */
Label {
    color: #343838;
}

/* this global color style will affect the dialogs */
Button {
    color: #343838;
}

.fa {
    font-family: "FontAwesome";
}

/*
http://www.colourlovers.com/palette/482774/dream_magnet
#343838 (main gray)  
#1b1d1d (darkest gray)  
#282a2a (not so dark border/toolbar gray) 
#BCBCBC (very light gray)
#005F6B
#008C9E
#00B4CC
#00DFFC
*/