<RadSideDrawer (loaded)="onRadLoaded($event)">
    <ScrollView tkDrawerContent backgroundColor="transparent">

        <StackLayout class="sidedrawer-content">
            <Button (loaded)="onViewLoaded($event)" text="Home" (tap)="navigateTo('/main', false)" textWrap="true"></Button>
            <Button (loaded)="onViewLoaded($event)" text="Photo of the Day" (tap)="navigateTo('/apod', false)" textWrap="true"></Button>
            <Button (loaded)="onViewLoaded($event)" text="Asteroids Proximity Checker" (tap)="navigateTo('/asteroids', false)" textWrap="true"></Button>
            <Button (loaded)="onViewLoaded($event)" text="Mars Rovers Photos" (tap)="navigateTo('/rovers', false)" textWrap="true"></Button>
            <Button (loaded)="onViewLoaded($event)" text="Hubble Telescope News" (tap)="navigateTo('/hubble', false)" textWrap="true"></Button>
            <Button (loaded)="onViewLoaded($event)" text="Details" (tap)="navigateTo('/info', false)" textWrap="true"></Button>
            <Button (loaded)="onViewLoaded($event)" *ngIf="isUserLogged" text="Logout" (tap)="firebaseLogout()" textWrap="true"></Button>
        </StackLayout>
    </ScrollView>

    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>