
<RadSideDrawer>
    <StackLayout tkDrawerContent class="sidedrawer-content">
        <Label text="Home" (tap)="navigateTo('/main', false)" textWrap="true"></Label>
        <Label text="Photo of the Day" (tap)="navigateTo('/apod', false)" textWrap="true"></Label>
        <Label text="Asteroids Proximity Checker" (tap)="navigateTo('/asteroids', false)" textWrap="true"></Label>
        <Label text="Mars Rovers Photos" (tap)="navigateTo('/rovers', false)" textWrap="true"></Label>
        <Label text="Details" (tap)="navigateTo('/info', false)" textWrap="true"></Label>
        <Label text="Logout" (tap)="firebaseLogout()" *ngIf="isUserLogged" textWrap="true"></Label>
        
    </StackLayout>

    <GridLayout tkMainContent>
        <!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
        <page-router-outlet></page-router-outlet>
    </GridLayout>

</RadSideDrawer>