<ScrollView class="background">
    <GridLayout rows="*, auto, auto, auto, *" columns="*" verticalAlignment="middle">
        <StackLayout (loaded)="onStackListLoaded($event)" row="1">
            <Label class="text-center p-b-4" text="Choose Rover" textWrap="true"></Label>
            <ListPicker [items]="rovers" (loaded)="onListickerLoaded($event)" (selectedIndexChange)="selectedIndexChanged($event)"></ListPicker>
        </StackLayout>
        
        <StackLayout (loaded)="onStackDateLoaded($event)" row="2">
            <Label class="text-center p-b-4" text="Select Date" textWrap="true"></Label>
            <DatePicker (loaded)="onDatePickerLoaded($event)" (dayChange)="onDayChanged($event)" (monthChange)="onMonthChanged($event)" (yearChange)="onYearChanged($event)"></DatePicker>
        </StackLayout>
    
        <Button row="5" class="text-center m-t-10" text="Show photos for selected date" (tap)="goToPhotos()"></Button>
    </GridLayout>
</ScrollView>
