<GridLayout rows="*, auto, auto, auto, auto, auto, *" columns="*">
    <Label row="1" class="text-center m-t-10" text="Choose Rover" textWrap="true"></Label>
    <ListPicker row="2" [items]="rovers" ></ListPicker>
    
    <Label row="3" class="text-center m-t-10" text="Select Date" textWrap="true"></Label>
    <DatePicker row="4" [day]="day" [month]="month" [year]="year"></DatePicker>

    <Button row="5" class="text-center m-t-10" text="Show photos for selected date" (tap)="goToPhotos()"></Button>
</GridLayout>