<ScrollView class="background">
    <GridLayout rows="auto, *, auto" verticalAlignment="middle">
        <StackLayout row="0" class="m-t-10" (loaded)="onStackListLoaded($event)">
            <Label class="text-center p-b-4" text="Choose Rover" textWrap="true"></Label>
            <SegmentedBar [items]="mySegmentedBarItems" 
                          (loaded)="onSegmentedbarLoaded($event)" 
                          (selectedIndexChange)="onSelectedIndexChange($event)">
            </SegmentedBar>
        </StackLayout>
    
        <StackLayout row="1" class="m-t-10" (loaded)="onStackDateLoaded($event)">
            <Label class="text-center p-b-4" text="Select Date" textWrap="true"></Label>
            <DatePicker (loaded)="onDatePickerLoaded($event)" 
                        (dayChange)="onDayChanged($event)" 
                        (monthChange)="onMonthChanged($event)" 
                        (yearChange)="onYearChanged($event)">
            </DatePicker>
        </StackLayout>
    
        <Button row="2" class="text-center m-t-10 m-b-10" text="Show photos for selected date" (tap)="goToPhotos()"></Button>
    </GridLayout>
</ScrollView>
