<GridLayout rows="*, auto">
    <ScrollView row="0">
        <StackLayout>
            <Image [src]="photo.imageUri"></Image>
            <Label [text]="photo.id" class="title p-10" textWrap="true"></Label>
            <Label [text]="photo.cameraFullName" class="description p-b-10 p-l-10 p-r-10" textWrap="true"></Label>
            <Label [text]="photo.earthDate" class="date p-b-10 p-l-10 p-r-10" textWrap="true"></Label>
        </StackLayout>
    </ScrollView>
    <DockLayout class="dock" row="1" stretchLastChild="true">
        <rovers-toolbar (notify)="onNotify($event)"></rovers-toolbar>
    </DockLayout>
</GridLayout>