Label {
    background-color: #282a2a;
    color: #BCBCBC;
}

.card {
    background-color: #282a2a;
    margin: 0 10 10 10;
}

.card-grid {
    border-radius:20;
}

.list-view {
    background-color: #343838;
}