<GridLayout rows="auto, auto,  *" columns="*">
    <Label row="0" text="Mars Rovers Page" textWrap="true" class="h2 text-center" color="lightgray"></Label>
    <Label row="1" text="Curiosity photos" textWrap="true" class="h3 text-center" color="lightgray"></Label>

    <ListView row="2" [items]="roverPhotos | async" (loadMoreItems)="onLoadMoreItemsRequested($event)" separatorColor="#343838" class="list-view">
        <ng-template let-photo="item">
            <CardView elevation="40" radius="40" class="card">
                <GridLayout rows="auto, *" columns="*, *, *" class="{{ isAndroid ? 'card-grid-android' : 'card-grid-ios'}}" height="240">
                    <Label row="0" col="0" [text]="photo.id" class="h4 text-left m-l-10 m-t-5" textWrap="true"></Label>
                    <Label row="0" col="1" [text]="photo.cameraName" class="h4 text-center m-t-5" textWrap="true"></Label>
                    <Label row="0" col="2" [text]="photo.earthDate" class="h4 text-right m-r-10 m-t-5"></Label>
                    <Image row="1" col="0" colSpan="3" [src]="photo.imageUri" decodeHeight="240" loadMode="async" stretch="aspectFill"></Image>
                </GridLayout>
            </CardView>
        </ng-template>
    </ListView>
</GridLayout>