.date {
    horizontal-align: center;
    font-size: 12;
    opacity: 0.8;
}

.title {
    horizontal-align: center;
    font-size: 16;
}

.description {
    font-size: 14;
    text-align: left;
}

.dock {
    border-width: 2 0 0 0;
    border-color: gray;
}