<GridLayout rows="*, auto">
    <ScrollView row="0">
        <StackLayout>
            <ActivityIndicator [busy]="isBusy" (busyChange)="onBusyChanged($event)" class="m-t-30 m-b-20"></ActivityIndicator>
            <Image (loaded)="onImageLoaded($event)" [src]="item.url"></Image>
            <Label [text]="item.title" class="title p-10" textWrap="true"></Label>
            <Label [text]="item.explanation" class="description p-b-10 p-l-10 p-r-10" textWrap="true"></Label>
            <Label [text]="item.date" class="date p-b-10 p-l-10 p-r-10" textWrap="true"></Label>
        </StackLayout>
    </ScrollView>
    <DockLayout class="dock" row="1" stretchLastChild="true">
        <toolbar (notify)="onNotify($event)"></toolbar>
    </DockLayout>
</GridLayout>