<ActionBar title="Astronomy Picture of the Day" class="action-bar">
</ActionBar>

<GridLayout rows="*, auto">
    <ScrollView>
        <StackLayout row="0">
            <Image [src]="item.url"></Image>
            <Label [text]="item.title" class="title p-10" textWrap="true"></Label>
            <Label [text]="item.explanation" class="description p-b-10 p-l-10 p-r-10" textWrap="true"></Label>
            <Label [text]="item.date" class="date p-b-10 p-l-10 p-r-10" textWrap="true"></Label>
        </StackLayout>
    </ScrollView>
    <DockLayout class="dock" row="1" stretchLastChild="true">
        <Button text="previous" dock="left" (tap)="goToPrevousDay()" class="btn btn-primary dock-btn"></Button>
        <Button text="next" dock="right" (tap)="goToNextDay()" class="btn btn-primary dock-btn"></Button>
        <Label text="Info" [nsRouterLink]="['/info']" textAlignment="center" verticalAlignment="middle" textWrap="true"></Label>
        
        <!-- <Label text="hide" (tap)="onHide($event)" textAlignment="center" verticalAlignment="middle" textWrap="true" fontSize="10"></Label>  -->
    </DockLayout>
</GridLayout>