GridLayout, StackLayout {
    background-color: transparent;
}

.background {
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

DockLayout {
    background-color: transparent;
    opacity: 0.8;
    vertical-align: bottom;
}

Button {
    border-radius: 10;
    background-color:#1b1d1d;
    color: #E8EAEB;
    padding: 0 16 0 16;
}

Button:highlighted {
    background-color:#E8EAEB;
    color: #1b1d1d;
}

Label {
    color: whitesmoke;
}