GridLayout, StackLayout {
    background-color: transparent;
}

.background {
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

DockLayout {
    background-color: transparent;
    vertical-align: bottom;
    opacity: 0.8;
}

Button {
    border-radius: 20;
    background-color:#1b1d1d;
    color: #E8EAEB;
}

Button:highlighted {
    background-color:#E8EAEB;
    color: #1b1d1d;
}

Label {
    color: whitesmoke;
}

.action-bar-title {
    color: #BCBCBC;
    font-family: "Nasalization";
    font-size: 18;
    text-align: center;
}