<ScrollView class="background">
    <StackLayout>
        <GridLayout rows="*, *, *" columns="*" margin="10">
            <Label row="0" text="Powered by" fontSize="10" opacity="0.9"></Label>
            <Label row="1" text="NativeScript" (tap)="onNativeScriptTap()" class="m-t-8"></Label>
            <Label row="2" text="NASA Open APIs" (tap)="onNasaTap()" class="m-t-8"></Label>
        </GridLayout>

        <CardView elevation="40" radius="10" margin="10" class="cardview">
            <GridLayout rows="auto, auto, auto, auto, auto, auto, auto, auto, auto">
                <Label row="0" text="Astronomical Photo of the Day" textWrap="true" class="p-l-8 p-t-16 p-r-8 text-left"></Label>
                
                <Label row="1" [text]="description" textWrap="true" class="p-l-8 p-t-8 p-r-8 text-left" fontSize="12"></Label>
                
                <GridLayout row="2" columns="50, *" class="p-l-8 p-t-8 ">
                    <Label col="0" text="Icons" fontSize="10" opacity="0.9" class="text-left" verticalAlignment="middle"></Label>
                    <Label col="1" text="Action" fontSize="10" opacity="0.9" class="text-left" verticalAlignment="middle"></Label>
                </GridLayout>
                <GridLayout row="3" columns="50, *">
                    <Button col="0" text="&#xf053;" width="50" height="50" class="fa-solid btn nav"></Button>
                    <Label col="1" text="go to previous data" textWrap="true" verticalAlignment="middle"></Label>
                </GridLayout>
                <GridLayout row="4" columns="50, *">
                    <Button col="0" text="&#xf019;" width="50" height="50" class="fa-solid btn nav"></Button>
                    <Label col="1" text="downolad and save HD image" textWrap="true" verticalAlignment="middle"></Label>
                </GridLayout>
                <GridLayout row="5" columns="50, *">
                    <Button col="0" text="&#xf108;" width="50" height="50" class="fa-solid btn nav"></Button>
                    <Label col="1" text="set HD photo as wallpaper (Android only)" textWrap="true" verticalAlignment="middle"></Label>
                </GridLayout>
                <GridLayout row="6" columns="50, *">
                    <Button col="0" text="&#xf1e0;" width="50" height="50" class="fa-solid btn nav"></Button>
                    <Label col="1" text="share HD photo" textWrap="true" verticalAlignment="middle"></Label>
                </GridLayout>
                <GridLayout row="7" columns="50, *">
                    <Button col="0" text="&#xf054;" width="50" height="50" class="fa-solid btn nav"></Button>
                    <Label col="1" text="go to next date" textWrap="true" verticalAlignment="middle"></Label>
                </GridLayout>
                <GridLayout row="8" rows="auto" columns="*, *">
                    <Label col="0" text="Open APOD section" (tap)="onApodLink()" class="btn nas" opacity="0.8" fontSize="10"></Label>
                    <Label col="1" text="Visit Offficial site" (tap)="onApodURL()" class="btn nas" opacity="0.8" fontSize="10"></Label>
                </GridLayout>
            </GridLayout>
        </CardView>

        <CardView elevation="40" radius="10" margin="0 10 10 10" class="cardview" iosOverflowSafeArea="false">    
            <GridLayout rows="auto" columns="*">
                <Label row="0" text="Created by NickIliev" textWrap="true" class="p-l-16 p-t-8 p-b-8"></Label>
            </GridLayout>
        </CardView>
    </StackLayout>
</ScrollView>