Label {
    color: #BCBCBC;
    font-family: "Nasalization";
}

.cardview {
    background-color: #343838;
}

.background {
    background-color: #282a2a;
}

.nas {
    font-family: "Nasalization"; 
}